/* =========================
24NT01014 - Lê Huy Hoàng - Bài 11
========================= */
body {
font-family: "Times New Roman";
background: #f4f6f8;
margin: 0;
}
header {
background: #1e88e5;
color: white;
padding: 20px;
text-align: center;
}
.container {
width: 90%;
margin: auto;
}
.animal-list {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
gap: 20px;
}
.animal-card {
background: white;
padding: 10px;
text-align: center;
cursor: pointer;
box-shadow: 0 2px 5px rgba(0,0,0,0.2);
transition: 0.3s;
}
.animal-card:hover {
transform: scale(1.05);
background: #e3f2fd;
}
.animal-card img {
width: 100%;
height: 150px;
object-fit: cover;
}
.detail-container img {
width: 200px;
margin: 10px;
}
.back-btn {
padding: 10px 20px;
background: #1e88e5;
color: white;
border: none;
cursor: pointer;
transition: 0.3s;
}
.back-btn:hover {
background: #0d47a1;
}
.main-footer {
background: #222;
color: white;
padding: 20px;
margin-top: 30px;
}
.footer-container {
display: flex;
justify-content: space-around;
flex-wrap: wrap;
}